/*
.DS_Store
*.elc
!/.emacs.d/
/.emacs.d/*.dat
/.emacs.d/tramp
/.emacs.d/auto-save-list
/.emacs.d/*/bin
/.emacs.d/server/
/.emacs.d/elpa/archives/
!/lib/
!/lib/dircolors
!/lib/dict
!/lib/geektool
!/.zshrc
!/.zshenv
!/.gitconfig
!/.tmux.conf
