[alias]
    tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[user]
	name = Kenji MINOURA
	email = info@kandj.org
[push]
	default = simple
[core]
	ignorecase = false
